/Info5100-University-Example/dist/
.DS_Store
/build/
/out/
/target/
/bin/
*.class
*.log
**/.DS_Store
*.class
/build/
/out/
/target/
/bin/
nbproject/private/
/Info5100-University-Example/build/
/build/
/dist/
/out/
/target/
/bin/
*.class
**/.DS_Store
nbproject/private/
